if SHIELD_SPLIT_ERGO360_LEFT

config ZMK_KEYBOARD_NAME
    default "split_ergo360"

config ZMK_SPLIT_ROLE_CENTRAL
    default y
    
config ZMK_DISPLAY
    default y
    
endif # SHIELD_SPLIT_ERGO360_LEFT

if SHIELD_SPLIT_ERGO360_LEFT || SHIELD_SPLIT_ERGO360_RIGHT

config ZMK_SPLIT
    default y

endif # SHIELD_SPLIT_ERGO360_LEFT || SHIELD_SPLIT_ERGO360_RIGHT